@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;600&display=swap');

#new_meeting {
    background-color: white;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    width:100vw;
    height: 75vh;
}

#search_form {
    display: flex;
    flex-flow: column;
    margin-top: 30px;
    /* background-color: red; */
}

.search_input_field {
    width: 250px; 
    height: 30px; 
    border: 1px solid #999999; 
    padding: 5px;
    border-radius: 5px;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.new-meeting-container {
    padding-left: 250px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    /* flex-wrap:wrap; */
    justify-content: center;
    align-items: center;
    color: black;
}

#searches{
    line-height: 7vh;
    background-color: #ab998f;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rebeccapurple; */
    padding: 40px;
    height: 64vh;
    width: 75vw;
    border-radius: 10px;
}

.search_title{
    color:black;
    font-size: 20px;
    margin-left:-240px
}

#search_button {
    /* padding-bottom: 60px; */
    /* font-family: 'Raleway', sans-serif; */
    /* font-weight: 300; */
    color:white;
    /* margin: 0 auto; */
    /* padding-top: 0px;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px; */
    /* vertical-align: center; */
    height:40px;
    width: 80px;
    background-color: #283044;
    border: none;
    margin-top: 70px;
    margin-left: 75px;
    border-radius: 7px;
}