@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;600&display=swap');

#new_meeting {
    background-color: #AB998F;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    width:100vw;
    height: 75vh;
}

.new-meeting-container {
    padding-left: 250px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    color: white;
}

#searches{
    line-height: 7vh;
    /* padding-top: 50px; */
    background-color: #283044;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 64vh;
    width: 75vw;
    border-radius: 10px;
}

.search_title{
    color:white;
    font-size: 17px;
    margin-left:-240px
}

.search_button {
    color:white;
    height: 35px;
    width: 80px;
    background-color: #AB998F;
    border: none;
    margin-top: 40px;
    border-radius: 7px;
}