@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;600&display=swap');

#student_meeting_container::-webkit-scrollbar {
    width: 0em;
    background-color: transparent;
    height:0em;
}

#student_meeting_container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    border-radius: 12px;
    width: 0em;
    height: 0em;
}

#student_meeting_container::-webkit-scrollbar-thumb {
    background-color: #AAA;
    width: 0em;
    height: 0em;
    outline: 0px solid #555B6E;
    border-radius: 12px;
}

#student-scheduled-meeting {
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    width:100vw;
    height: 75vh;
    background-color: white;
}

.student-scheduled-container{
    padding-left: 250px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    color: white;
}

#meetings {
    padding-top: 30px;
    /* overflow: scroll; */
    line-height: 1vh;
    /* padding-top: 50px; */
    background-color: #283044;
    border: 2px solid 283044;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 60vh;
    width: 75vw;
    border-radius: 10px;
}

#student_meeting_container{
    height: 60vh;
    width:70vw;
    display: flex;
    flex-flow: row;
    overflow: scroll;
    /* background-color: red; */
}

#professional_information{
    margin-top: 60px;
    border: 1px solid white;
    padding-right: 15px;
    border-radius: 7px;
    margin-right: 20px;
    width: 350px;
    height: 300px;
    display: flex;
    flex-flow: column;
}

.prof_info{
    margin-top: 25px;
    margin-left: 10px;
    color:white;
    font-size: 17px;
    font-weight: 200;
    line-height: 0px;
}

#cancel_meeting{
    font-family: 'Raleway', sans-serif;
    color:black;
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 7px;
}

#professional_modal_container{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    background-color: #ab998f;
    color:black;
    height: 300px;
    width: 500px;
    border-radius: 7px;
    padding-top: 75px;
    text-align: center;
}

.modal_prof_info{
    font-size: 18px;
    text-align: center;
    line-height: 3px;
}

#modal_prof_linkedin{
    color: blue;
    /* text-decoration: underline; */
}