@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;600&display=swap');

#public_pro_availability{
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    width:100vw;
    height: 75vh;
    background-color: #283044;
    /* C1A9A3 */
}

.public_avail_container{
    padding-left: 250px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    color: black;
}

#meeting_time_container::-webkit-scrollbar {
    width: 0.4em;
    background-color: transparent;
    height:0.4em;
}

#meeting_time_container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    border-radius: 12px;
    width: 0em;
    height: 0em;
}

#meeting_time_container::-webkit-scrollbar-thumb {
    background-color: #AAA;
    width: 0em;
    height: 0em;
    outline: 0px solid #555B6E;
    border-radius: 12px;
}

#meeting_time_container{
    height: 60vh;
    width:72vw;
    display: flex;
    flex-flow: row;
    overflow: scroll;
}

#public_view_avail {
    padding-top: 30px;
    /* overflow: scroll; */
    line-height: 1vh;
    /* padding-top: 50px; */
    /* background-color: #283044; */
    background-color: #AB998F;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 60vh;
    width: 75vw;
    border-radius: 10px;
}

#meeting_info_container{
    /* background-color: red; */
    width: 350px;
    height: 300px;
    display: flex;
    flex-flow: column;
}


.meeting_info{
    color:black;
    font-size: 17px;
    /* margin-left:-200px; */
    font-weight: 200;
    line-height: 0px;
}

#select_availability{
    font-family: 'Raleway', sans-serif;
    color:black;
    height: 35px;
    width: 80px;
    /* background-color: #AB998F; */
    background-color: #8b786d;
    border: none;
    /* margin-top: 20px;
    margin-left: -140px; */
    border-radius: 7px;
}
