@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;600&display=swap');

#public_pro_profile {
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
}

.public_pro-profile-top-container {
    background-color: #283044;
    /* EEDACD */
    /* // 6f5e53 */
    display: flex;
    color:white;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    align-items: left;
    height: 25vh;
    width: 100vw;
    line-height: 0.2em;
}

.public_pro-profile-top-item {
    color:white;
    /* flex-grow: 1; */
    margin: auto;
    /* font-size: 15px; */
    font-size: 20px;
}

#public_pro_name{
    padding-top: 10px;
    font-size: 20px;
}

#public_linkedin {
    text-decoration: underline;
}
